<mat-toolbar class="bg fixed-top">
  <a href="/post-list" style="text-decoration: none; color:white" >Login with firebase</a> 

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    
    <button mat-button (click)="addpost()">
      <span class="material-icons ">add_circle_outline </span>
      Add Post
    </button>

    <button mat-button >
      <span class="material-icons" >save</span>
      Save
    </button>

    <button mat-button >
      <span class="material-icons" >move_to_inbox</span>
      Fetch
    </button>
    
    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="material-icons">account_circle</span>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
    
  </ng-container>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <span class="material-icons">login</span>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

